aside{
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    padding-bottom: 3.6rem;
}
aside h2{
    font-size: 2.4rem;
    font-weight: 700;
}
aside h3{
    font-size: 1.8rem;
    font-weight: 700;
}
aside p{
    font-size: 1.4rem;
    font-weight: 400;
}
aside figure{
    display: flex;
    gap: 1.6rem;
    min-width: 38.4rem;
    cursor: pointer;
    transition: 200ms;
}